.hero{
    height: 60em;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    display: flex;
    justify-content: center;
    flex: 1;
    line-height: 1.1;
    padding-left: 180px;
    gap: 20px;
    flex-direction: column;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #090909;
    font-size: 5em;
    font-weight: 700;   
}
.hero-hand-icon{
   display: flex;
  align-items: center;
  gap: 20px; 
}
.hero-hand-icon img{
    widows: 105px;
}
.hero-latest-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    widows: 310px;
    height: 70px;
    border-radius: 30px;
    margin-top: 30px;
    background-color: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}